{% extends 'england/core.html'%}
{% block title %} About Us - findpostcode.uk {% endblock %}
{% block content %}
<ul class="flex items-center justify-center space-x-1 font-[sans-serif]">
    <li class="text-gray-500 text-base cursor-pointer hover:text-[#007bff]">
        <a href="/">Home</a>
    </li>
    <li class="text-gray-500 text-lg">/</li>
    <li class="text-[#333] text-base font-bold cursor-pointer whitespace-nowrap">
        About Us
    </li>
</ul>

<div class="bg-white sm:px-6 p-4 font-[sans-serif]">
    <div class="mx-auto">
        <div>
            <h2 class="text-3xl font-extrabold text-gray-800 mb-4">About Us - ukpostcode.co</h2>
            <p class="text-gray-700 mt-4">Welcome to ukpostcode.co, your comprehensive reference for everything related to UK postcodes. Our mission is to provide accurate, up-to-date, and detailed postcode information to help you understand the geographical, demographic, and administrative aspects of the UK.</p>
        </div>
        <hr class="my-10" />
        <div class="grid gap-16">
            <div>
                <h3 class="text-2xl font-bold text-gray-800 mt-2">What We Offer</h3>
                <div class="mt-4">
                    <p class="text-gray-700">At ukpostcode.co, we provide:</p>
                    <ul class="list-disc list-inside ml-4 mt-2 space-y-2 text-gray-700">
                        <li><b>Postcode Details:</b> In-depth information about geographical data, population demographics, and maps.</li>
                        <li><b>Geographical Insights:</b> Information about counties, districts, wards, and unique characteristics of each area.</li>
                        <li><b>Demographic Information:</b> Data on population density, age distribution, and community details.</li>
                        <li><b>Interactive Maps:</b> Visual representations of postcode boundaries and surrounding areas.</li>
                    </ul>
                </div>
            </div>
            <div>
                <h3 class="text-2xl font-bold text-gray-800 mt-2">Tools to Make Your Search Easier</h3>
                <div class="mt-4">
                    <p class="text-gray-700">Our website features several tools:</p>
                    <ul class="list-disc list-inside ml-4 mt-2 space-y-2 text-gray-700">
                        <li><b>Nearest School Finder:</b> Locate schools near any postcode.</li>
                        <li><b>Bus Stop & Station Finder:</b> Find nearby public transport options easily.</li>
                    </ul>
                </div>
            </div>
            <div>
                <h3 class="text-2xl font-bold text-gray-800 mt-2">Relevant Links</h3>
                <div class="mt-4">
                    <p class="text-gray-700">We provide access to valuable resources such as:</p>
                    <ul class="list-disc list-inside ml-4 mt-2 space-y-2 text-gray-700">
                        <li><b>Crime Statistics:</b> Stay informed about crime rates in your area.</li>
                        <li><b>Property Sales & Rent:</b> Get the latest data on property trends.</li>
                    </ul>
                </div>
            </div>
            <div>
                <h3 class="text-2xl font-bold text-gray-800 mt-2">Why Choose Us?</h3>
                <div class="mt-4">
                    <p class="text-gray-700">At ukpostcode.co, we aim to make finding postcode-related information simple, accurate, and accessible for everyone. Whether you're conducting research, relocating, or just exploring the UK, we are here to support your needs.</p>
                </div>
            </div>
            <p class="mt-4 text-gray-700">For more detailed information, including general data, geographic and demographic details, and nearby amenities like schools, bus stops, and stations, you can explore our website. We provide comprehensive insights and tools to help you make the most of postcode information.</p>
        </div>
    </div>
</div>

{% endblock %}