{% extends 'england/core.html'%}
{% block title %}List of Postcodes in {{ward.name}}, {{district.name}} {% endblock %}
{% load custom_filters %}
{% block head %} 
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "{{county.name}}",
      "item": "https://findpostcode.uk/england/{{region.slug}}/{{county.slug}}/"
    },{
      "@type": "ListItem",
      "position": 2,
      "name": "{{district.name}}",
      "item": "https://findpostcode.uk//england/{{region.slug}}/{{county.slug}}/{{district.slug}}/"
    },{
      "@type": "ListItem",
      "position": 3,
      "name": "{{ward.name}}"
    }]
  }
  </script>
{% endblock %}
{% block content %}
<ul class="flex items-center justify-center space-x-1 font-[sans-serif]">
    <li class="text-gray-500 text-base cursor-pointer hover:text-[#007bff]">
        <a href="/england/{{region.slug}}/{{county.slug}}/">{{county.name}}</a>
    </li>
    <li class="text-gray-500 text-lg">/</li>
    <li class="text-gray-500 text-base cursor-pointer hover:text-[#007bff]">
        <a href="/england/{{region.slug}}/{{county.slug}}/{{district.slug}}/">{{district.name}}</a>
    </li>
    <li class="text-gray-500 text-lg">/</li>
    <li class="text-[#333] text-base font-bold cursor-pointer whitespace-nowrap">
        {{ward.name}}
    </li>
</ul>
<div class="p-4">
  <h1 class="text-black lg:text-2xl text-xl font-bold mb-4">List of Postcodes in {{ward.name}}, {{district.name}} <span class="text-gray-600 text-sm"> {{county.name}} </span></h1>
  <p class="text-gray-800 leading-relaxed text-base">
    Select a postcode below to find associated information, including geography, administrative areas, demography, nearest stations, schools, and more.</p>
</div>

<div class="flex flex-wrap sm:mx-auto sm:mb-2 -mx-2 p-4 justify-center items-center">
    <div class="">
        <table class="min-w-full w-full divide-y divide-gray-200 table-fixed">
          <thead class="bg-gray-100 whitespace-nowrap">
            <tr>
              <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider">
                Postcode
              </th>
              <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider">
                Latitude
              </th>
              <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider">
                Longitude
              </th>
              <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider">
                Easting
              </th>
              <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider">
                Northing
              </th>
            </tr>
          </thead>
  
          <tbody class="bg-white divide-y divide-gray-200 whitespace-nowrap">
    {% for code in postcodes %}
            <tr onclick="window.location.href='/england/{{code.postcode | replace_spaces}}/';" class="cursor-pointer hover:translate-x-[1px] hover:translate-y-[-1px]">
              <td class="px-4 py-4 text-sm text-gray-800 font-semibold">
                <a class="text-[#007bff]" href="/england/{{code.postcode | replace_spaces}}/">{{code.postcode}}</a>
              </td>
              <td class="px-4 py-4 text-sm text-gray-800">
                {{code.latitude}}
              </td>
              <td class="px-4 py-4 text-sm text-gray-800">
                {{code.longitude}}
              </td>
              <td class="px-4 py-4 text-sm text-gray-800">
                {{code.easting}}
              </td>
              <td class="px-4 py-4 text-sm text-gray-800">
                {{code.northing}}
              </td>
            </tr>
    {% endfor %}
        </tbody>
     </table>
    </div>
</div>

{% endblock %}