{% extends 'england/core.html'%}
{% block title %}List of Postcodes in {{ward.name}}, {{ward.district.name}}, Northern Ireland {% endblock %}
{% load custom_filters %}
{% block content %}
<ul class="flex items-center justify-center space-x-1 font-[sans-serif]">
    <li class="text-gray-500 text-base cursor-pointer hover:text-[#007bff]">
        <a href="/nir/">Northern Ireland</a>
    </li>
    <li class="text-gray-500 text-lg">/</li>
    <li class="text-gray-500 text-base cursor-pointer hover:text-[#007bff]">
        <a href="/nir/{{ward.district.slug}}/">{{ward.district.name}}</a>
    </li>
    <li class="text-gray-500 text-lg">/</li>
    <li class="text-[#333] text-base font-bold cursor-pointer whitespace-nowrap">
        {{ward.name}}
    </li>
</ul>
<div class="p-4">
  <h1 class="text-black lg:text-2xl text-xl font-bold mb-4">List of Postcodes in {{ward.name}}, {{ward.district.name}} <span class="text-gray-600 text-sm"> Northern Ireland</span></h1>
  <p class="text-gray-800 leading-relaxed text-base">
    Select a postcode below to find associated information, including geography, administrative areas, demography, nearest stations, schools, and more.</p>
</div>

<div class="flex flex-wrap sm:mx-auto sm:mb-2 -mx-2 p-4 justify-center items-center">
    <div class="overflow-x-auto">
        <table class="min-w-full w-full divide-y divide-gray-200 table-fixed">
          <thead class="bg-gray-100 whitespace-nowrap">
            <tr>
              <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider">
                Postcode
              </th>
              <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider">
                Latitude
              </th>
              <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider">
                Longitude
              </th>
              <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider">
                Easting
              </th>
              <th class="px-4 py-4 text-left text-xs font-semibold text-gray-500 uppercase tracking-wider">
                Northing
              </th>
            </tr>
          </thead>
  
          <tbody class="bg-white divide-y divide-gray-200 whitespace-nowrap">
    {% for code in postcodes %}
            <tr onclick="window.location.href='/nir/{{code.postcode | replace_spaces}}/';" class="cursor-pointer hover:translate-x-[1px] hover:translate-y-[-1px]">
              <td class="px-4 py-4 text-sm text-gray-800 font-semibold">
                <a class="text-[#007bff]" href="/nir/{{code.postcode | replace_spaces}}/">{{code.postcode}}</a>
              </td>
              <td class="px-4 py-4 text-sm text-gray-800">
                {{code.latitude}}
              </td>
              <td class="px-4 py-4 text-sm text-gray-800">
                {{code.longitude}}
              </td>
              <td class="px-4 py-4 text-sm text-gray-800">
                {{code.easting}}
              </td>
              <td class="px-4 py-4 text-sm text-gray-800">
                {{code.northing}}
              </td>
            </tr>
    {% endfor %}
        </tbody>
     </table>
    </div>
</div>

<!-- ------pagination------ -->

<!-- <ul class="flex space-x-4 justify-center">
    <li
        class="flex items-center justify-center shrink-0 cursor-pointer text-base font-bold text-blue-500 w-10 h-10 rounded-lg">
        Prev
    </li>
    <li
        class="flex items-center justify-center shrink-0 hover:bg-gray-50  border-2 cursor-pointer text-base font-bold text-[#333] w-10 h-10 rounded-lg">
        1
    </li>
    <li
        class="flex items-center justify-center shrink-0 bg-blue-500  border-2 border-blue-500 cursor-pointer text-base font-bold text-white w-10 h-10 rounded-lg">
        2
    </li>
    <li
        class="flex items-center justify-center shrink-0 hover:bg-gray-50  border-2 cursor-pointer text-base font-bold text-[#333] w-10 h-10 rounded-lg">
        3
    </li>
    <li
        class="flex items-center justify-center shrink-0 hover:bg-gray-50  border-2 cursor-pointer text-base font-bold text-[#333] w-10 h-10 rounded-lg">
        4
    </li>
    <li
        class="flex items-center justify-center shrink-0 cursor-pointer text-base font-bold text-blue-500 w-10 h-10 rounded-lg">
        Next
    </li>
</ul> -->
{% endblock %}