<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="{%block robots%}index, follow{%endblock%}">
  <title>{% block title %}Postcode Finder UK: Explore Local Data, Schools, and Transport{% endblock %}</title>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <style>
    :root {
      color-scheme: light;
    }

    /* Import Google Fonts */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;500&display=swap');

    /* General body styling */
    body {
      font-family: 'Roboto', sans-serif;
      /* font-size: 16px;
    line-height: 1.6; */
      /* color: #333; */
      margin: 0;
      padding: 0;
      /* background-color: #f8f9fa; */
    }

    /* Headings styling */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Montserrat', sans-serif;
      color: #222;
      margin-bottom: 20px;
    }

    h1::before {
      content: "";
    }

    /* Header levels */
    h1 {
      font-size: 36px;
      font-weight: 600;
    }

    h2 {
      font-size: 30px;
      font-weight: 600;
    }

    h3 {
      font-size: 24px;
      font-weight: 600;
    }

    h4,
    h5,
    h6 {
      font-size: 18px;
      font-weight: 400;
    }

    p {
      margin-bottom: 20px;
    }

  </style>
  <script type="module" crossorigin src="/static/js/base.js"></script>
  {% block head %}{% endblock %}
</head>

<body>
  <header class='flex border-b py-4 px-4 sm:px-10 bg-white font-[sans-serif] min-h-[70px] tracking-wide relative z-50'>
    <div class='flex flex-wrap items-center gap-5 w-full'>
      <a href="/"><img src="/static/images/logo-DFPDC957.svg" alt="logo" class='w-36' />
      </a>

      <div id="collapseMenu"
        class='max-lg:hidden lg:!block max-lg:w-full max-lg:fixed max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50'>
        <button id="toggleClose" class='lg:hidden fixed top-2 right-4 z-[100] rounded-full bg-white p-3'>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-black" viewBox="0 0 320.591 320.591">
            <path
              d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
              data-original="#000000"></path>
            <path
              d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
              data-original="#000000"></path>
          </svg>
        </button>

        <ul
          class='lg:flex lg:ml-14 lg:gap-x-5 max-lg:space-y-3 max-lg:fixed max-lg:bg-white max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50'>
          <li class='mb-6 hidden max-lg:block'>
            <a href="/"><img src="/static/images/logo-DFPDC957.svg" alt="logo" class='w-36' />
            </a>
          </li>
          <li class='max-lg:border-b max-lg:py-3 px-3'>
            <a href='/'
              class='lg:hover:text-[#007bff] {% if request.path == "/" %} text-[#007bff] {% else %} text-gray-700 {% endif %} block font-semibold text-[15px]'>Home</a>
          </li>
          <li class='group max-lg:border-b max-lg:py-3 px-3 relative'>
            <a href='javascript:void(0)'
              class='hover:text-[#007bff] text-gray-600 text-[15px] font-semibold hover:fill-[#007bff] block'>Countries<svg
                xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" class="ml-1 inline-block"
                viewBox="0 0 24 24">
                <path
                  d="M12 16a1 1 0 0 1-.71-.29l-6-6a1 1 0 0 1 1.42-1.42l5.29 5.3 5.29-5.29a1 1 0 0 1 1.41 1.41l-6 6a1 1 0 0 1-.7.29z"
                  data-name="16" data-original="#000000" />
              </svg>
            </a>
            <ul
              class='absolute shadow-lg bg-white space-y-3 lg:top-5 max-lg:top-8 -left-6 min-w-[250px] z-50 max-h-0 overflow-hidden group-hover:opacity-100 group-hover:max-h-[700px] px-6 group-hover:pb-4 group-hover:pt-6 transition-all duration-500'>
              <li class='border-b py-2 '><a href="/england/"
                  class='hover:text-[#007bff] text-gray-600 text-[15px] font-bold block'>England</a></li>
              <li class='border-b py-2 '><a href='/scotland/'
                  class='hover:text-[#007bff] text-gray-600 text-[15px] font-bold block'>Scotland</a></li>
              <li class='border-b py-2 '><a href='/wales/'
                  class='hover:text-[#007bff] text-gray-600 text-[15px] font-bold block'>Wales</a></li>
              <li class='border-b py-2 '><a href='/nir/'
                  class='hover:text-[#007bff] text-gray-600 text-[15px] font-bold block'>Norther Ireland</a></li>
            </ul>
          </li>
          <li class='max-lg:border-b max-lg:py-3 px-3'><a href='/nearby-bus-stops/'
              class='hover:text-[#007bff] {% if request.path == "/nearby-bus-stops/" %} text-[#007bff] {% else %} text-gray-700 {% endif %} block font-semibold text-[15px]'>Nearby
              Bus Stop Finder</a>
          </li>
          <li class='max-lg:border-b max-lg:py-3 px-3'><a href='/nearby-schools/'
              class='hover:text-[#007bff] {% if request.path == "/nearby-schools/" %} text-[#007bff] {% else %} text-gray-700 {% endif %} block font-semibold text-[15px]'>Nearby
              School Finder</a>
          </li>
        </ul>
      </div>

      <button id="toggleOpen" class='lg:hidden ml-auto'>
        <svg class="w-7 h-7" fill="#000" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
      </button>

      
      <div class="searchbar-inner flex lg:ml-auto max-lg:w-full p-1 rounded-lg">
        
        
        <form class="search-form flex max-xl:w-full outline outline-transparent focus-within:bg-transparent items-center" method="get" action="/search/" onsubmit="return validateSearchTerm();">
          <input name="s" id="search-input" class="search-input w-full p-2 focus:outline-none border rounded-lg" type="text"
            placeholder="Search Postcode" autocomplete="on" />
          <input type="hidden" name="search_type" id="search-type" value="Postcode">
          <div class="search-options static cursor-pointer p-2">
            <div id="dropdown-header"
              class="dropdown-header text-gray-600 flex items-center justify-between p-2 text-sm border rounded-lg">
              <span id="selected-option">Postcode</span>
              <svg class="icon-chevron w-2.5 h-1.5 fill-current text-gray-600 mx-2" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 10 6">
                <path d="M10 .969L9.037 0 5 4.063.963 0 0 .969 5 6z" />
              </svg>
            </div>
            <div id="dropdown-menu" class="dropdown-menu px-2 absolute bg-white text-gray-600 text-sm hidden border rounded-lg mt-2">
              <a class="item flex items-center p-2 " data-value="Postcode" data-placeholder="Search Postcode">
                <span class="flex-1 hover:text-[#007bff]">Postcode</span>
              </a>
              <a class="item flex items-center p-2 " data-value="Area" data-placeholder="Search Area">
                <span class="flex-1 hover:text-[#007bff]">Administrative Area</span>
              </a>
            </div>
          </div>
          <button type="submit" value="submit" class="bg-blue-500 border rounded-lg p-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.904 192.904" width="16px"
              class="cursor-pointer fill-white mx-2">
              <path
                d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z">
              </path>
            </svg>
          </button>
        </form>
      </div>
      

  </header>

  {% block body %}

  {%endblock%}

  <footer class="font-sans tracking-wide bg-[#27282b] py-12 px-16">
    <div class="grid max-md-grid-cols-1 lg:grid-cols-2 gap-20">
      <div>
        <h4 class="text-gray-100 font-bold text-lg">About Us</h4>
        <p class="text-sm mt-6 text-gray-300">This website offers a simple way to find UK postcode information and
          related data. You can search for a postcode and get details about the area, including nearby schools, bus
          stops, train stations, and more. It's an easy tool for anyone looking to learn more about a specific location.
          <a href='/about-us/' class="text-sm font-semibold text-[#007bff]">Read
            more</a>
        </p>

        <ul class="grid sm:grid-cols-2 mt-12 gap-2">
          <li class="flex items-center">
            <div class="bg-[#343538] h-10 w-10 rounded-full flex items-center justify-center shrink-0">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill='#fff'
                viewBox="0 0 479.058 479.058">
                <path
                  d="M434.146 59.882H44.912C20.146 59.882 0 80.028 0 104.794v269.47c0 24.766 20.146 44.912 44.912 44.912h389.234c24.766 0 44.912-20.146 44.912-44.912v-269.47c0-24.766-20.146-44.912-44.912-44.912zm0 29.941c2.034 0 3.969.422 5.738 1.159L239.529 264.631 39.173 90.982a14.902 14.902 0 0 1 5.738-1.159zm0 299.411H44.912c-8.26 0-14.971-6.71-14.971-14.971V122.615l199.778 173.141c2.822 2.441 6.316 3.655 9.81 3.655s6.988-1.213 9.81-3.655l199.778-173.141v251.649c-.001 8.26-6.711 14.97-14.971 14.97z"
                  data-original="#000000" />
              </svg>
            </div>
            <a href="mailto:findukpostcode@gmail.com" class="text-gray-100 text-sm ml-4">
              <small class="block">Mail</small>
              <strong>findukpostcode@gmail.com</strong>
            </a>
          </li>
        </ul>

      </div>

      <div>
        <h4 class="text-gray-100 font-bold text-lg">Newsletter</h4>
        <p class="text-sm mt-6 text-gray-300">Subscribe to our newsletter and stay up to date with the latest news,
          updates, and exclusive offers. Get valuable insights. Join our community today!</p>

        <div class="bg-[#343538] flex px-2 py-1 rounded-full mt-12">
          <input type='email' placeholder='Enter your email' required
            class="w-full outline-none text-gray-300 text-sm bg-transparent pl-4" />
          <button type='button'
            class="bg-gray-100 hover:bg-white transition-all text-gray-600 font-semibold text-sm rounded-full px-5 py-2 ml-4"><a
              href="">Submit</a></button>
        </div>
      </div>
    </div>

    <div class="lg:flex lg:item-center mt-12">
      <ul class="flex flex-wrap gap-4">
        <li>
          <a href='/contact-us/' class='text-gray-300 hover:text-gray-100 text-sm'>Contact Us</a>
        </li>
        <li>
          <a href='/privacy-policy/' class='text-gray-300 hover:text-gray-100 text-sm'>Privacy Policy</a>
        </li>
        <!-- <li>
          <a href='javascript:void(0)' class='text-gray-300 hover:text-gray-100 text-sm'>Security</a>
        </li> -->
      </ul>

      <p class='text-sm text-gray-300 lg:ml-auto max-lg:mt-6'>©Find UK Postcode. All rights reserved.</p>
    </div>
  </footer>

  
  <script>
    document.addEventListener('DOMContentLoaded', () => {

      const searchInput = document.getElementById('search-input');

      // Clear the custom error message when the user types
      searchInput.addEventListener('input', function () {
        if (searchInput.value.length >= 2) {
          searchInput.setCustomValidity(''); // Clear validity if input is valid
        }
      });

      // Function to validate search input length
      function validateSearchTerm() {
        const searchTerm = searchInput.value.trim();

        if (searchTerm.length < 2) {
          searchInput.setCustomValidity('Enter two or more characters');
          searchInput.reportValidity(); // Show validation message
          return false; // Prevent form submission
        } else {
          searchInput.setCustomValidity(''); // Clear custom message if valid
          return true; // Allow form submission
        }
      }

      // Attach the validation to the form submission
      document.querySelector('form').onsubmit = validateSearchTerm;


    });

    const dropdownHeader = document.getElementById('dropdown-header');
    const dropdownMenu = document.getElementById('dropdown-menu');
    const searchTypeInput = document.getElementById('search-type');
    const searchInput = document.getElementById('search-input');
    const selectedOption = document.getElementById('selected-option');

    // Toggle dropdown menu visibility
    dropdownHeader.addEventListener('click', function() {
        dropdownMenu.classList.toggle('hidden');
    });

    // Update search type when an option is clicked
    document.querySelectorAll('.dropdown-menu .item').forEach(function(item) {
        item.addEventListener('click', function() {
            const searchType = this.getAttribute('data-value');
            const placeholder = this.getAttribute('data-placeholder');

            // Update selected option in the dropdown
            selectedOption.textContent = searchType;

            // Update hidden input value
            searchTypeInput.value = searchType;

            // Update search input placeholder
            searchInput.setAttribute('placeholder', placeholder);

            // Hide the dropdown menu after selection
            dropdownMenu.classList.add('hidden');
        });
    });

    // Close dropdown if clicked outside
    document.addEventListener('click', function(e) {
        if (!dropdownHeader.contains(e.target)) {
            dropdownMenu.classList.add('hidden');
        }
    });

  </script>

</body>

</html>